{% load static %}
<link type="text/css" href="{% static 'core/css/404.css' %}" rel="stylesheet"/>
<title>404 Page not found</title>
<a href="https://codepen.io/uiswarup/full/yLzypyY" target="_blank">
    <header class="top-header">
    </header>
    <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
    </div>
    <div class="lamp__wrap">
        <div class="lamp">
            <div class="cable"></div>
            <div class="cover"></div>
            <div class="in-cover">
                <div class="bulb"></div>
            </div>
            <div class="light"></div>
        </div>
    </div>
    <section class="error">
        <div class="error__content">
            <div class="error__message message">
                <h1 class="message__title">Page Not Found</h1>
                <p class="message__text">The page you were looking for isn't found here.</p>
            </div>
            <div class="error__nav e-nav">
                <a href="{% url 'home' %}" class="e-nav__link"></a>
            </div>
        </div>
    </section>
</a>