{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link type="text/css" href="{% static 'core/css/submit_button.css' %}" rel="stylesheet"/>
    {% include 'core/messages.html' %}
    <h1>{{ title }}</h1>
    <form action="{% url 'feedback' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <div class="container">
            <input id="submit" type="submit" value="Submit">
        </div>
    </form>

{% endblock %}
