{% extends 'base.html' %}

{% block content %}
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
    </style>
    <h2>Hello, world!</h2>
    <p>My name is Ervand, and i am a backend developer on Python. Here i want to tell
        you a little about me, my experience, skills etc.</p>
    <p>
        In my developments, i try to adhere to the generally accepted positions of
        both Python and programming in general: PEP8, DRY, SOLID, Clean code.
        Also, every day i try to learn something new, for example, now i learn
        C language and UNIX architecture.</p>
    <img src="static/core/images/face2.jpg" alt="Nature" class="responsive">
{% endblock %}
